[access "refs/*"]
	owner = group ivi-automotive
	read = group ivi-automotive
	abandon = group ivi-automotive
	create = group ivi-automotive
	forgeAuthor = group ivi-automotive
	forgeCommitter = group ivi-automotive
	forgeServerAsCommitter = group ivi-automotive
	push = +force group ivi-automotive
	pushMerge = group ivi-automotive
	pushTag = +force group ivi-automotive
	label-Code-Review = -2..+2 group ivi-automotive
	label-Verified = -1..+1 group ivi-automotive
	rebase = group ivi-automotive
	submit = group ivi-automotive
[access]
	inheritFrom = ivi-project
[project]
	state = active
	description = Maintainer group: ivi-automotive
